html {
  font-size: 14px;
  line-height: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Fira Code', monospace;
  @apply bg-midnight-navy;
}

.content {
  @apply h-[100vh] 
    pt-[48px]
    pb-[53px]
    flex justify-center
    overflow-hidden
    p-14
    items-center;
}

.content-with-sidebar {
  @apply h-[100vh] pt-[48px] pb-[53px] flex;
}
