/* Page */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s ease;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter-to,
.page-leave {
  opacity: 1;
}

/* Fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* List vertical feeds */
.list-vertical-feeds-move,
.list-vertical-feeds-enter-active,
.list-vertical-feeds-leave-active {
  transition: all 0.3s ease;
}

.list-vertical-feeds-leave-active {
  position: absolute;
}

.list-vertical-feeds-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.list-vertical-feeds-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/* .list-vertical-feeds-enter-to,
.list-vertical-feeds-leave-from {
  opacity: 1;
  transform: translateY(0);
} */
